body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 30%;
    justify-content: flex-start;
}

label {
    font-size: 0.9rem;
    margin-bottom: 6px;
}

input {
    font-size: .8rem;
    padding: 10px;
    background-color: #222;
    border: 1px solid #444;
    color: #fff;
    margin-bottom: 8px;
    width: 60%;
    border-radius: 5px;
}

button {
    align-self: center;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3f8f40;
}

#cat-result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cat-result h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#cat-result img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#cat-result p {
    font-size: 1.2rem;
    text-align: center;
}

#description {
    font-size: .8rem;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
    color: #fdfd1bcd;
}

#loading {
    display: none;
    font-size: 1.3rem;
    text-align: center;
    color: #fdfd1bcd;
    margin-top: 20px;
    margin-left: 30px;
    animation: progress 2.5s infinite;
}

@keyframes progress {
    0% {
        color: #fdfd1bcd;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #fdfd1bcd;
    }
}